 <!doctype html>
<style>
    form{
        margin: auto;
        width: 35%;
    }

    .result{
        margin: auto;
        width: 35%;
        border: 1px solid #ccc;
    }

    body {
        background-image: url('static/steam_img.png');
        background-repeat:no-repeat;
        background-size:cover;
    }
</style>
<head>
    <title>Прогнозируемые зарплаты</title>
</head>
<body style="background-color:black;">
<form action="{{url_for('main')}}" method="POST" onsubmit="this.submit(); this.reset(); return false;">
    <fieldset>
        <legend style="color:white">Введите 3 уникальных тага</legend>
        <input type="text" name="tag1" list="cityname" required>
            <datalist id="cityname">
                {% for t in all_tags %}
                    <option value={{t}}>{{t}}</option>
                {% endfor %}
            </datalist>
            <br>

        <input type="text" name="tag2" list="cityname" required>
            <datalist id="cityname">
                {% for t in all_tags %}
                    <option value={{t}}>{{t}}</option>
                {% endfor %}
            </datalist>
            <br>
        
        <input type="text" name="tag3" list="cityname" required>
            <datalist id="cityname">
                {% for t in all_tags %}
                    <option value={{t}}>{{t}}</option>
                {% endfor %}
            </datalist>
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>

<div class="result" align="center">
    {% if result %}
        <br>
        <p style="font-size:20px;color:white;">
            {{result}}
        </p>
    {% endif %}    
</div>
</body>